<h3>Soal 1</h3>
Kiki belanja ke alf$$a M ð‘Ž r$t membeli 3 hepitos, 2 silperkuin, telor 2kg, beras 5kg, isi ulang akua galon seharga Rp 13.000. Harga hepitos yaitu Rp 15.000, telor Rp 13.000/kg, silperkuin Rp 21.000 beras kemasan 2.5kg seharga Rp 20.000. Toko tersebut memberikan discount 5%, ketika customer membeli makanan lebih dari 3 jenis. Berapakah total bayar belanjaan dari Kiki?

In [1]:
#Code here

hepitos = 3
harga_hepitos = 15000
silperkuin = 2
harga_silperkuin = 21000
telor = 2
harga_telor = 13000
beras = 5
harga_beras = 20000
isi_galon = 13000
total_hepitos = hepitos * harga_hepitos
total_silperkuin = silperkuin * harga_silperkuin
total_telor = telor * harga_telor
total_beras = beras * harga_beras/2.5
total_belanja = total_hepitos + total_silperkuin + total_telor + total_beras + isi_galon
if total_belanja > 3:
    total_belanja -= total_belanja*0.05
print("Total belanjaan Kiki adalah Rp",round(total_belanja))

Total belanjaan Kiki adalah Rp 157700

<h3>Soal 2</h3>
Roni menabung pada bulan agustus yaitu setiap tanggal ganjil sejumlah Rp 50.000, setiap tanggal genap sejumlah RP 10.000 dan setiap tanggal kelipatan 5 sejumlah Rp 5.000, Berapakah total tabungan Roni diakhir bulan?

<h3>Soal 3</h3>
Saat hari raya, Deni ingin menukarkan uang sejumlah Rp 5.000.000 ke pecahan 20rb, 10rb, 5rb, 2rb. berapa jumlahnya yang didapatkan Deni jika 20rb maksimal 100, 10rb maksimal 50.Jika :
<ol>
    <li>3(a)Semua pecahan harus ada</li>
    <li>3(b)Hanya pecahan 20rb, 10rb dan 5rb</li>
    <li>3(c)Hanya pecahan 20rb, 10rb dan 2rb</li>
</ol>

In [4]:
#Code here

tgl_ganjil = 0
tgl_genap = 0
tgl_kelipatan_5 = 0

for tgl in range(1, 32):
    if tgl % 5 == 0:
        tgl_kelipatan_5 += 1
    elif tgl % 2 == 0:
        tgl_genap += 1
    else:
        tgl_ganjil += 1
        
tab_ganjil = tgl_ganjil * 50000
tab_genap = tgl_genap * 10000
tab_kelipatan_5 = tgl_kelipatan_5 * 5000

total_tab = tab_ganjil + tab_genap + tab_kelipatan_5

print("Total tabunganRoni di akhir bulan adalah Rp", total_tab)

Total tabunganRoni di akhir bulan adalah Rp 800000

In [5]:
#Code here

uang = 5000000
pecahan_20rb = min(uang // 20000, 100)
sisa = uang - pecahan_20rb * 20000
pecahan_10rb = min(sisa // 10000, 50)
sisa = sisa - pecahan_10rb * 10000
pecahan_5rb = sisa // 5000
sisa = sisa % 5000
pecahan_2rb = sisa // 2000
print("3(a)Semua pecahan harus ada",)
print("Jumlah pecahan 20rb:", pecahan_20rb)
print("Jumlah pecahan 10rb:", pecahan_10rb)
print("Jumlah pecahan 5rb:", pecahan_5rb)
print("Jumlah pecahan 2rb:", pecahan_2rb,"\n")

uang = 5000000
pecahan_20rb = min(uang // 20000, 100)
sisa = uang - pecahan_20rb * 20000
pecahan_10rb = min(sisa // 10000, 50)
sisa = sisa - pecahan_10rb * 10000
pecahan_5rb = sisa // 5000
print("3(b)Hanya pecahan 20rb, 10rb dan 5rb")
print("Jumlah pecahan 20rb:", pecahan_20rb)
print("Jumlah pecahan 10rb:", pecahan_10rb)
print("Jumlah pecahan 5rb:", pecahan_5rb,"\n")

uang = 5000000
pecahan_20rb = min(uang // 20000, 100)
sisa = uang - pecahan_20rb * 20000
pecahan_10rb = min(sisa // 10000, 50)
sisa = sisa - pecahan_10rb * 10000
pecahan_2rb = sisa // 2000
print("3(c)Hanya pecahan 20rb, 10rb dan 2rb")
print("Jumlah pecahan 20rb:", pecahan_20rb)
print("Jumlah pecahan 10rb:", pecahan_10rb)
print("Jumlah pecahan 2rb:", pecahan_2rb)

3(a)Semua pecahan harus ada
Jumlah pecahan 20rb: 100
Jumlah pecahan 10rb: 50
Jumlah pecahan 5rb: 500
Jumlah pecahan 2rb: 0

3(b)Hanya pecahan 20rb, 10rb dan 5rb
Jumlah pecahan 20rb: 100
Jumlah pecahan 10rb: 50
Jumlah pecahan 5rb: 500

3(c)Hanya pecahan 20rb, 10rb dan 2rb
Jumlah pecahan 20rb: 100
Jumlah pecahan 10rb: 50
Jumlah pecahan 2rb: 1250

<h3>Soal 4</h3>
Berapakah hasil dari (10/23-6+4-(20//3%2)) ?
Lakukan analisa perhitungan dari hasil tersebut!
Berdasarkan hasil tersebut urutkan operator yang dikerjakan!

In [4]:
#Code here

a = 10
b = 23
c = 6
d = 4
e = 20
f = 3

hasil = (((a/b)-c)+d-((e//f)%2))
print(hasil)

-1.5652173913043477

<h3>Soal 5</h3>
Jika terdapat string yaitu "UFLOPYXTKJACSWRBGQZVDMEHIN", maka susunlah nama kalian masing-masing dari data tersebut, berdasarkan index dari masing-masing huruf yang ada pada string tersebut!

In [14]:
x =  "UFLOPYXTKJACSWRBGQZVDMEHIN"
print(x[21]+x[3]+x[11]+x[23]+x[10]+x[21]+x[21]+x[10]+x[20]+" "+x[11]+x[10]+x[23]+x[5]+x[10]+" "+x[16]+x[0]+x[21]+x[24]+x[2]+x[10]+x[14])

MOCHAMMAD CAHYA GUMILAR